body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}
.normal, .normal-background {
  display: none;
}

/* For Hiding/Showing Detailed Buttons */
.ceaseDisplay {
  display: block;
  padding-right: 10px;
  margin-inline-start: 6.8%;
} 
/* Backgrounds */
.red-background {
  background-color: red;
}
.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}
.orange-background { 
  background-color: orange;
}
.blue-background {
  background-color: blue;
}